#wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    padding: 50px;
    margin: 5px;
    background: #41538e;
    color: #FFF;

    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    font-size: 30px;
}

button:first-child {
    margin-top: 15%;
}

form {
    padding: 10px;
    margin: 20px;

    /*コレ*/

}